.btn-brand-blue {
    background-color: #1a73e8;
    color: white;
    border-radius: 0.25rem;
}

.btn-brand-red {
    background-color: #ff3b30;
    color: white;
    border-radius: 0.25rem;
}

.text-brand-blue {
    color: #1a73e8;
}

.text-brand-red {
    color: #ff3b30;
}

.bg-brand-green {
    background-color: #34c759;
    color: white;
    padding: 0.5rem;
}

.oranj {
    background-color: orange;
}