:root {
    /*--bs-dark-rgb: 250, 0, 0;
    --bs-heading-color: blue;
    --bs-primary-text-emphasis: purple;
    --bs-light-rgb: 99,99,99;*/
}

:root, [data-bs-theme=light] {

}

:root, [data-bs-theme=dark] {

}