.layout {
    width: 350px;
    box-sizing: border-box;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userIcon {
    aspect-ratio: 1/1;
}

h5, p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}